<div style="background-color: #6B46C1; color: white; padding: 20px; border-radius: 10px; margin: 10px 0;">

# üé¨ Golden-Age-TV-Data-Analysis: Project: Data Analysis with Pandas

In this project, you will work with a dataset containing information about movies and shows. You will use the pandas library to read, clean, and analyze the data. This project will help you practice working with DataFrames, indexing, and data manipulation using pandas.

## üìä Dataset Description

The dataset `movies_and_shows.csv` contains information about various movies and shows, including:

- **name**: The name of the actor or actress
- **Character**: The character they played
- **r0le**: The role type (e.g., ACTOR)
- **TITLE**: The title of the movie or show
- **Type**: Whether it's a MOVIE or SHOW
- **release Year**: The year it was released
- **genres**: A list of genres the movie or show belongs to
- **imdb sc0re**: The IMDb score of the movie or show
- **imdb v0tes**: The number of votes on IMDb

</div>

<div style="background-color: #6B46C1; color: white; padding: 20px; border-radius: 10px; margin: 10px 0;">

## Instructions:

Read the movies_and_shows.csv file into a DataFrame. It is in the /datasets directory so the full path to include in the read_csv method will be "/datasets/movies_and_shows.csv"
Display the first few rows of the DataFrame to get an initial look at th
e data.

## Hints:

* Use pd.read_csv() to read the CSV file and store it in a variable called "df".
* Use the .head() method to display the first few rows.

In [71]:
##Importing Libraries
import pandas as pd
## Reading the dataset
df = pd.read_csv(r"C:\Users\robab\OneDrive\2025\Tripleten\Review TripleTen project\Sprint 1\movies_and_shows -sprint 1.csv")

In [72]:
df.head()
print(df.head())

print()

df.info()

   Unnamed: 0             name                Character   r0le        TITLE  \
0           0   Robert De Niro            Travis Bickle  ACTOR  Taxi Driver
1           1     Jodie Foster            Iris Steensma  ACTOR  Taxi Driver
2           2    Albert Brooks                      Tom  ACTOR  Taxi Driver
3           3    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR  Taxi Driver
4           4  Cybill Shepherd                    Betsy  ACTOR  Taxi Driver

    Type  release Year              genres  imdb sc0re  imdb v0tes
0  MOVIE          1976  ['drama', 'crime']         8.2    808582.0
1  MOVIE          1976  ['drama', 'crime']         8.2    808582.0
2  MOVIE          1976  ['drama', 'crime']         8.2    808582.0
3  MOVIE          1976  ['drama', 'crime']         8.2    808582.0
4  MOVIE          1976  ['drama', 'crime']         8.2    808582.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85579 entries, 0 to 85578
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    85579 non-null  int64
 1      name       85579 non-null  object
 2   Character     85579 non-null  object
 3   r0le          85579 non-null  object
 4   TITLE         85578 non-null  object
 5     Type        85579 non-null  object
 6   release Year  85579 non-null  int64
 7   genres        85579 non-null  object
 8   imdb sc0re    80970 non-null  float64
 9   imdb v0tes    80853 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 6.5+ MB

<div style="background-color: #6B46C1; color: white; padding: 20px; border-radius: 10px; margin: 10px 0;">

## Task 1: Data Cleaning
Let's clean the data to fix issues with the column names

### Instructions:

Rename the columns to correct any errors and make them consistent.
Hints:

Use the .rename() method to rename columns.
Pass a dictionary to the columns parameter of .rename(), where the keys are the old column names and the values are the new names.
Remove unnecessary whitespace from the column names.

In [73]:
print(df.columns)

Index(['Unnamed: 0', '   name', 'Character', 'r0le', 'TITLE', '  Type',
       'release Year', 'genres', 'imdb sc0re', 'imdb v0tes'],
      dtype='object')

In [74]:
## Renaming the columns to fix issues

df.rename(columns ={'   name':'name', 
                    '   year':'year', 
                    'Character': 'character',
                    'r0le': 'role',
                    'TITLE': 'title',
                    '  Type': 'type',
                     'release Year': 'release_year',
                      'genres': 'genres',
                      'imdb sc0re': 'imdb_score',
                      'imdb v0tes': 'imdb_votes'},
                    inplace=True)
print(df.columns)

Index(['Unnamed: 0', 'name', 'character', 'role', 'title', 'type',
       'release_year', 'genres', 'imdb_score', 'imdb_votes'],
      dtype='object')

<div style="background-color: #2563EB; color: white; padding: 20px; border-radius: 10px; margin: 10px 0;">
or we can use  the following code for modification of columns

## üìù Code Explanation: Column Cleaning Chain

The following code demonstrates a powerful pandas method chaining approach for cleaning column names:

```python
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('0', 'o')
```

### Breaking Down Each Section:

| **Method** | **Purpose** | **Example** |
|------------|-------------|-------------|
| `.str.strip()` | **Removes whitespace** from the beginning and end of column names | `"   name"` ‚Üí `"name"` |
| `.str.lower()` | **Converts to lowercase** for consistency | `"TITLE"` ‚Üí `"title"` |
| `.str.replace(' ', '_')` | **Replaces spaces with underscores** to make columns Python-friendly | `"release Year"` ‚Üí `"release_year"` |
| `.str.replace('0', 'o')` | **Fixes typos** where zeros were used instead of letter 'o' | `"r0le"` ‚Üí `"role"`, `"sc0re"` ‚Üí `"score"` |

### Why This Approach is Useful:
- ‚úÖ **Method chaining**: Applies multiple transformations in one line
- ‚úÖ **Consistent naming**: All columns follow the same naming convention
- ‚úÖ **Python-friendly**: No spaces or special characters that could cause issues
- ‚úÖ **Readable code**: Easy to understand the sequence of operations

</div>

## Task 2: Correcting a Misspelled Name in the Data

While analyzing the dataset, you notice that some names are misspelled or contain special characters due to encoding issues. Accurate data is essential for reporting and recommendations, so let‚Äôs correct one of these entries.

### Instructions

1. **Locate the Row with the Incorrect Name**:
   - Use `.loc[]` to retrieve the row where `name` is `"In??s Prieto"`.
   - You can locate a row based on the index (85576) and column name called "name".
   - Print the row to verify that you have the correct one.


2. **Correct the Name**:
   - Using `.loc[]`, update the `name` column for this row to "Ines Prieto."
   
3. **Verify the Correction**:
   - Print the row again to ensure that the name has been corrected.

<div style="background: linear-gradient(135deg, #1e40af 0%, #059669 100%); color: white; padding: 25px; border-radius: 15px; margin: 15px 0; box-shadow: 0 8px 32px rgba(0,0,0,0.3);">

## üìç Understanding `.loc` - Label-Based Data Selection

The `.loc` accessor is pandas' primary tool for **label-based indexing**. It allows you to select data using actual index labels and column names.

### üîß Basic Syntax:
<div style="background-color: #1f2937; padding: 15px; border-radius: 8px; border-left: 4px solid #fbbf24; margin: 10px 0; color: white;">

```python
df.loc[row_indexer, column_indexer]
```
</div>

### üìã Common Applications:

<div style="background-color: rgba(255,255,255,0.1); padding: 15px; border-radius: 10px; margin: 15px 0; color: white;">

| **Usage** | **Syntax** | **Description** |
|-----------|------------|-----------------|
| üéØ **Single Value** | <code style="background: #dc2626; padding: 3px 6px; border-radius: 4px; color: white;">df.loc[row, col]</code> | Get value at specific row/column |
| üìÑ **Single Row** | <code style="background: #7c3aed; padding: 3px 6px; border-radius: 4px; color: white;">df.loc[row]</code> | Get entire row |
| üìö **Multiple Rows** | <code style="background: #059669; padding: 3px 6px; border-radius: 4px; color: white;">df.loc[start:end]</code> | Get slice of rows |
| üé® **Specific Columns** | <code style="background: #ea580c; padding: 3px 6px; border-radius: 4px; color: white;">df.loc[:, ['col1', 'col2']]</code> | Get specific columns for all rows |
| üîç **Conditional Selection** | <code style="background: #0891b2; padding: 3px 6px; border-radius: 4px; color: white;">df.loc[df['col'] > 5]</code> | Filter rows based on condition |
| ‚úèÔ∏è **Update Values** | <code style="background: #be123c; padding: 3px 6px; border-radius: 4px; color: white;">df.loc[row, col] = new_value</code> | Modify specific cell |

</div>

### ‚ö° Examples in Context:

<div style="background-color: #0f172a; padding: 20px; border-radius: 10px; border: 2px solid #fbbf24; margin: 15px 0; color: white;">

**üîé Get single value (what we're doing below):**
<div style="background: linear-gradient(90deg, #7c3aed, #a855f7); padding: 8px; border-radius: 6px; margin: 8px 0; color: white;">

```python
df.loc[85576, 'name']
```
</div>

**üìã Get entire row:**
<div style="background: linear-gradient(90deg, #7c3aed, #a855f7); padding: 8px; border-radius: 6px; margin: 8px 0; color: white;">

```python
df.loc[85576]
```
</div>

**‚úèÔ∏è Update a value:**
<div style="background: linear-gradient(90deg, #be123c, #e11d48); padding: 8px; border-radius: 6px; margin: 8px 0; color: white;">

```python
df.loc[85576, 'name'] = "Ines Prieto"
```
</div>

**üîç Filter and select columns:**
<div style="background: linear-gradient(90deg, #7c3aed, #a855f7); padding: 8px; border-radius: 6px; margin: 8px 0; color: white;">

```python
df.loc[df['imdb_score'] > 8.0, ['title', 'imdb_score']]
```
</div>

</div>

### ‚ö†Ô∏è Important Notes:
<div style="background-color: rgba(239, 68, 68, 0.2); border: 2px solid #ef4444; padding: 15px; border-radius: 10px; margin: 10px 0; color: white;">

- üè∑Ô∏è Uses **index labels**, not positions
- üìè Includes both endpoints in slices  
- üõ†Ô∏è Perfect for data cleaning and targeted updates

</div>

</div>

In [75]:
 # Locate the row with the incorrect name
#find the location 
df.loc[85576,'name']

'In??s Prieto'

In [76]:
# Correct the misspelled name
df.loc[85576, 'name'] = "Ines Prieto"

# Verify the correction
print("After correction:")
print(df.loc[85576, 'name'])

After correction:
Ines Prieto

## Task 3: Finding All Movies and Shows Featuring Ines Prieto

Now that we've corrected the spelling of "Ines Prieto" in the dataset, let's find all the TV shows and movies she has acted in. This type of filtering is helpful for generating actor-specific profiles or building a list of their works.

### Instructions

1. **Filter by Actor‚Äôs Name**:
   - Use a filtering condition to select rows where the `name` column is equal to `"Ines Prieto"`.
   
2. **Display Relevant Columns**:
   - From each matching row, retrieve only the `title`, `release_year`, `imdb_score`, and `genres` columns for a clear, concise output.

**Hint:**

To filter rows based on a specific value in a column, use a condition inside df[ ... ]. In this case, check if the name column equals "Ines Prieto". Then, select only the columns you need (like title, release_year, imdb_score, and genres) by specifying them in double brackets [ [ ... ] ].

In [77]:
filter_name= df[df['name']=="Ines Prieto"]
print(filter_name[['title', 'release_year', 'imdb_score', 'genres']])

         title  release_year  imdb_score      genres
85576  Lokillo          2021         3.8  ['comedy']

In [78]:
filter_name= df[df['name']=="Ines Prieto"][['title', 'release_year', 'imdb_score', 'genres']]
print(filter_name)

         title  release_year  imdb_score      genres
85576  Lokillo          2021         3.8  ['comedy']

In [79]:
filter_name= df[df['name']=="Ines Prieto"][['title', 'release_year', 'imdb_score', 'genres']]
print(df.loc[filter_name.index])

       Unnamed: 0         name character   role    title       type  \
85576       85576  Ines Prieto     Fanny  ACTOR  Lokillo  the movie

       release_year      genres  imdb_score  imdb_votes
85576          2021  ['comedy']         3.8        68.0

<div style="background: linear-gradient(135deg, #7c3aed 0%, #059669 100%); color: white; padding: 25px; border-radius: 15px; margin: 15px 0; box-shadow: 0 8px 32px rgba(0,0,0,0.3);">

## üîç Comparing the Three Filtering Approaches

Analyzing the differences between the three code cells above (cells 15, 16, and 17):

### üìä **Method 1 - Two-Step Approach** (Cell 15):
<div style="background-color: #1f2937; padding: 15px; border-radius: 8px; border-left: 4px solid #10b981; margin: 10px 0; color: white;">

```python
filter_name = df[df['name']=="Ines Prieto"]
print(filter_name[['title', 'release_year', 'imdb_score', 'genres']])
```
</div>

**What it does:**
- üéØ **Step 1**: Creates `filter_name` containing ALL columns for Ines Prieto rows
- üéØ **Step 2**: Selects only specific columns for display
- ‚úÖ **Memory efficient**: Keeps original filtered data intact
- ‚úÖ **Flexible**: Can reuse `filter_name` for other operations

### üìä **Method 2 - One-Step Column Selection** (Cell 16):
<div style="background-color: #1f2937; padding: 15px; border-radius: 8px; border-left: 4px solid #f59e0b; margin: 10px 0; color: white;">

```python
filter_name = df[df['name']=="Ines Prieto"][['title', 'release_year', 'imdb_score', 'genres']]
print(filter_name)
```
</div>

**What it does:**
- üéØ **Single Step**: Filter rows AND select columns in one line
- ‚úÖ **Concise**: More compact code
- ‚úÖ **Direct**: `filter_name` only contains the 4 specified columns
- ‚ö†Ô∏è **Limited**: Can't access other columns later without re-filtering

### üìä **Method 3 - Index-Based Retrieval** (Cell 17):
<div style="background-color: #1f2937; padding: 15px; border-radius: 8px; border-left: 4px solid #ef4444; margin: 10px 0; color: white;">

```python
filter_name = df[df['name']=="Ines Prieto"][['title', 'release_year', 'imdb_score', 'genres']]
print(df.loc[filter_name.index])
```
</div>

**What it does:**
- üéØ **Step 1**: Creates filtered DataFrame with 4 columns
- üéØ **Step 2**: Uses the INDEX from filtered data to get ALL columns from original DataFrame
- ‚ö†Ô∏è **Circular**: Defeats the purpose of column selection
- ‚ùå **Inefficient**: Extra work to get back to full row data

### üèÜ **Recommendation:**

<div style="background-color: rgba(16, 185, 129, 0.2); border: 2px solid #10b981; padding: 15px; border-radius: 10px; margin: 10px 0; color: white;">

**Use Method 2** for this task - it's the most direct and efficient approach:

```python
filtered_data = df[df['name']=="Ines Prieto"][['title', 'release_year', 'imdb_score', 'genres']]
```

</div>

</div>

## Task 4: Finding Highly Rated Movies

We want to identify movies with an IMDb rating of at least **9.0**. This list could be helpful for curating a "Top Movies" section based on high ratings.

### Instructions

1. **Filter for High IMDb Scores**:
   - First, filter the DataFrame to include only rows where the `imdb_score` is greater than 9.0.

2. **Extract the Titles**:
   - From this filtered DataFrame, select only the `title` column, which contains the names of the movies.

3. **Get Unique Titles**:
   - Convert the resulting list of titles to a set to remove any duplicate titles. Using `set()` will keep only unique movie names.

   - *Example*: `unique_titles = set(high_score_titles)`

4. **Print the Unique Titles**:
   - Display the final set of unique movie titles to see the list of top-rated movies.

In [80]:
# Filter for movies with an IMDb score above 9.0
high_score_df = df[df['imdb_score']>9.0]  # this is a new dataframe


# Extract the 'title' column from the filtered DataFrame
idmb_titles = high_score_df['title']
# print(idmb_titles)

# Get a unique set of titles
unique_idmb_titles = idmb_titles.unique()


# Print the unique titles
print(unique_idmb_titles)

['Breaking Bad' 'Avatar: The Last Airbender' 'Reply 1988' 'My Mister'
 'The Last Dance' 'Our Planet' 'Kota Factory' 'Major']

In [81]:
# Extract the 'title' column from the filtered DataFrame
# Get a unique set of titles
unique_titles = set(idmb_titles)
print(unique_titles)

{'Breaking Bad', 'Avatar: The Last Airbender', 'The Last Dance', 'Kota Factory', 'Major', 'Reply 1988', 'My Mister', 'Our Planet'}

<div style="background: linear-gradient(135deg, #7c3aed 0%, #059669 100%); color: white; padding: 25px; border-radius: 15px; margin: 15px 0; box-shadow: 0 8px 32px rgba(0,0,0,0.3);">

## üîç **Comparing Duplicate Removal Methods**

### **Method 1: `set(idmb_titles)`**
<div style="background-color: #1f2937; padding: 15px; border-radius: 8px; border-left: 4px solid #f59e0b; margin: 10px 0; color: white;">

```python
unique_titles = set(idmb_titles)
```
</div>

**What it does:**
- üîÑ **Converts to Python set**: Built-in Python data structure
- üì¶ **Returns**: `set` object (unordered collection)
- ‚ö° **Speed**: Very fast for duplicate removal
- ‚ùå **Order**: Loses original order of items
- üéØ **Memory**: More memory efficient for large datasets

### **Method 2: `idmb_titles.unique()`**
<div style="background-color: #1f2937; padding: 15px; border-radius: 8px; border-left: 4px solid #10b981; margin: 10px 0; color: white;">

```python
unique_idmb_titles = idmb_titles.unique()
```
</div>

**What it does:**
- üêº **Pandas method**: Built-in pandas function
- üì¶ **Returns**: `numpy array` (ordered collection)
- üìç **Order**: Preserves the order of first occurrence
- üîß **Integration**: Works seamlessly with pandas operations
- üìä **Data types**: Maintains pandas/numpy data types

### **üî¨ Key Differences Table:**

| **Aspect** | **`set()`** | **`.unique()`** |
|------------|-------------|-----------------|
| **Return Type** | Python `set` | `numpy.ndarray` |
| **Order Preserved** | ‚ùå No | ‚úÖ Yes |
| **Speed** | ‚ö° Very Fast | üöÄ Fast |
| **Pandas Integration** | ‚ö†Ô∏è Limited | ‚úÖ Seamless |
| **Memory Usage** | üíæ Lower | üíæ Slightly Higher |
| **Iteration** | Random order | Original order |

### **üí° When to Use Which:**

<div style="background-color: rgba(245, 158, 11, 0.2); border: 2px solid #f59e0b; padding: 15px; border-radius: 10px; margin: 10px 0; color: white;">

**Use `set()`** when:
- You don't care about order
- You need maximum speed
- Working with pure Python (not pandas-specific)
- Memory is a concern

</div>

<div style="background-color: rgba(16, 185, 129, 0.2); border: 2px solid #10b981; padding: 15px; border-radius: 10px; margin: 10px 0; color: white;">

**Use `.unique()`** when:
- Order matters (first occurrence preserved)
- You're working within pandas ecosystem
- You want to maintain data types
- You might convert back to pandas Series/DataFrame

</div>

### **üéØ For Your Project:**
**Recommendation**: Use `.unique()` since you're working with pandas and might want to preserve the order for consistent results!

</div>

<div style="background: linear-gradient(135deg, #7c3aed 0%, #059669 100%); color: white; padding: 25px; border-radius: 15px; margin: 15px 0; box-shadow: 0 8px 32px rgba(0,0,0,0.3);">
## Task 5: Creating a Function to Find Unique Top-Rated Movies

In this task, we‚Äôll create a function to find unique movies with an IMDb score above a certain threshold that the user provides.

### Instructions

1. **Define the Function**:
   - Start by creating a function called `get_unique_top_movies` that takes one parameter, `min_score`.

2. **Filter the Data**:
   - Inside the function, create a new variable (e.g., `high_score_df`) that stores rows where the `imdb_score` is greater than or equal to `min_score`.

3. **Extract Movie Titles**:
   - In a new variable (e.g., `high_score_titles`), select the `title` column from the filtered DataFrame.

4. **Remove Duplicate Titles**:
   - Convert `high_score_titles` to a set using `set(high_score_titles)` to automatically remove duplicates, ensuring each title appears only once.

5. **Return the Unique Titles**:
   - Make sure the function returns the `unique_titles` set.

In [82]:
# write a fuction to find the unique top-rated MOvies

def get_unique_top_movies(min_score):

    # function body 
    high_score_df = df[df['imdb_score'] >= min_score]

    # Extract Movie Titles
    high_score_titles = high_score_df['title']

    #removeDuplicated titles
    unique_high_score_df = set(high_score_titles)
    return unique_high_score_df

In [83]:
# Test the function
print(get_unique_top_movies(9.0))

{'Breaking Bad', 'Leah Remini: Scientology and the Aftermath', 'Hunter x Hunter', 'DEATH NOTE', 'Arcane', 'Avatar: The Last Airbender', 'Okupas', 'The Last Dance', 'Kota Factory', 'Attack on Titan', 'Major', 'Reply 1988', 'My Mister', 'Our Planet'}

<div style="background: linear-gradient(135deg, #7c3aed 0%, #059669 100%); color: white; padding: 25px; border-radius: 15px; margin: 15px 0; box-shadow: 0 8px 32px rgba(0,0,0,0.3);">

## Task 6: Creating a Function to Find Top Movies from a Specific Decade¬∂

Let‚Äôs create a function to 
* **retrieve movies from a particular decade** with 
* **high IMDb ratings**. 

This function can be useful for generating lists of top-rated movies from different time periods.

### Instructions

**Define the Function**:

- Create a function called  get_top_movies_from_decade  that accepts decade_start and min_score as parameters.

### Filter by Decade:

    Inside the function, filter the DataFrame to include only movies where release_year is within the specified decade.
Hint: You can achieve this by checking that release_year is between decade_start and decade_start + 9
Filter by IMDb Score:

    Further filter this subset to include only movies where imdb_score is greater than or equal to min_score.
Extract Movie Titles:

    From the resulting DataFrame, select the title column and remove duplicates using set().

### Return the List of Titles:

    Return the set of the best movies from that decade.
By completing this task, you‚Äôll have a function that returns unique, top-rated movies from a specified decade. This is useful for highlighting standout movies from different eras, perfect for ‚ÄúBest of the Decade‚Äù features!

In [84]:
df.head()

,Unnamed: 0,name,character,role,title,type,release_year,genres,imdb_score,imdb_votes
0,0,Robert De Niro,Travis Bickle,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
1,1,Jodie Foster,Iris Steensma,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
2,2,Albert Brooks,Tom,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
3,3,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
4,4,Cybill Shepherd,Betsy,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0

In [85]:
# define a function  to retrieve movies from a particular decade and high IMDB rating
def get_top_movies(decade_start, min_score):

    # filter by decade and imdb_score
    decade_end = decade_start + 9
    top_movies = df[(df['release_year'] >= decade_start) & (df['release_year'] <= decade_end) & (df['imdb_score'] >= min_score)]
    # extract movie title and removal duplicate
    unique_top_movies = set(top_movies['title'])
    # return the topmovies
    return unique_top_movies

In [86]:
# Test the function
print(get_top_movies(1985, 8.5))

{'L??on: The Professional', 'Seinfeld', 'Bill Hicks: Revelations', 'Forrest Gump', 'GoodFellas'}

<div style="background: linear-gradient(135deg, #7c3aed 0%, #059669 100%); color: white; padding: 25px; border-radius: 15px; margin: 15px 0; box-shadow: 0 8px 32px rgba(0,0,0,0.3);">
## Task 7: Creating a Function to List All Actors in a Given Title
Imagine you want to list all the actors in a specific movie or show. Let‚Äôs create a function that takes a title as input and returns the names of all actors in that title, combined into a single string.

### Instructions
**Define the Function**

Create a function called get_actors_for_title that accepts one parameter, title.
Filter by Title and Role:

Inside the function, filter the DataFrame to select rows where the title column matches the provided title parameter and the role column is "ACTOR" (to ensure you only retrieve actors).
Extract Actor Names:

From this filtered DataFrame, select only the name column to get the actor names.
Combine Names into a Single String:

Use ', '.join() to combine the list of actor names into a single string, with each name separated by a comma.
Return the Result:

Return the resulting string of actor names.
This function will allow you to retrieve and format a list of actors for any movie or show title, which is useful for creating cast lists or displaying actors for specific titles.

<div style="background-color: #ffffff; color: black; padding: 25px; border-radius: 15px; margin: 15px 0; border: 2px solid #e2e8f0;">

# üîß **Fixing Code Readability Issues - BLACK TEXT ONLY**

## **‚úÖ Perfect Readability Solutions (All Black Text)**

### **Best Method: Light Background + Black Text**
```html
<code style="background-color: #f8f9fa; color: black; padding: 4px 8px; border-radius: 4px; font-weight: bold; border: 1px solid #dee2e6;">df.loc[85576, 'name']</code>
```
**Result:** <code style="background-color: #f8f9fa; color: black; padding: 4px 8px; border-radius: 4px; font-weight: bold; border: 1px solid #dee2e6;">df.loc[85576, 'name']</code>

### **Alternative: White Background + Black Text**
```html
<code style="background-color: #ffffff; color: black; padding: 4px 8px; border-radius: 4px; font-weight: bold; border: 1px solid #cccccc;">df.head()</code>
```
**Result:** <code style="background-color: #ffffff; color: black; padding: 4px 8px; border-radius: 4px; font-weight: bold; border: 1px solid #cccccc;">df.head()</code>

### **Slightly Gray Background + Black Text**
```html
<code style="background-color: #f1f3f4; color: black; padding: 3px 6px; border-radius: 3px; border: 1px solid #d0d7de;">print("Hello World")</code>
```
**Result:** <code style="background-color: #f1f3f4; color: black; padding: 3px 6px; border-radius: 3px; border: 1px solid #d0d7de;">print("Hello World")</code>

---

## **üé® Recommended BLACK TEXT Combinations**

### **Light Gray Backgrounds (All Black Text):**
<div style="background-color: #f8f9fa; padding: 15px; border-radius: 8px; margin: 10px 0; border: 1px solid #dee2e6;">

**Simple Gray:**
<code style="background-color: #e9ecef; color: black; padding: 4px 8px; border-radius: 4px; border: 1px solid #ced4da;">df.columns</code>

**Light White:**
<code style="background-color: #ffffff; color: black; padding: 4px 8px; border-radius: 4px; border: 1px solid #dee2e6;">df.info()</code>

**Soft Gray:**
<code style="background-color: #f1f3f4; color: black; padding: 4px 8px; border-radius: 4px; border: 1px solid #d0d7de;">unique_titles</code>

</div>

---

## **üõ†Ô∏è Code Block Styles (Black Text Only)**

### **Multi-line Code Block:**
```html
<div style="background-color: #f8f9fa; color: black; padding: 15px; border-radius: 8px; border: 1px solid #dee2e6;">
<pre style="margin: 0; color: black; font-family: 'Consolas', monospace;">
# Filter for high-rated movies
high_score_df = df[df['imdb_score'] > 9.0]
unique_titles = high_score_df['title'].unique()
print(unique_titles)
</pre>
</div>
```

**Result:**
<div style="background-color: #f8f9fa; color: black; padding: 15px; border-radius: 8px; border: 1px solid #dee2e6;">
<pre style="margin: 0; color: black; font-family: 'Consolas', monospace;">
# Filter for high-rated movies
high_score_df = df[df['imdb_score'] > 9.0]
unique_titles = high_score_df['title'].unique()
print(unique_titles)
</pre>
</div>

---

## **‚ö° PERFECT READABILITY Templates (Black Text Only)**

### **Template 1: Standard Code (BEST)**
```html
<code style="background-color: #f8f9fa; color: black; padding: 3px 6px; border-radius: 3px; border: 1px solid #dee2e6; font-weight: bold;">your_code_here</code>
```

### **Template 2: Important Code**
```html
<code style="background-color: #fff3cd; color: black; padding: 3px 6px; border-radius: 4px; border: 2px solid #ffeaa7; font-weight: bold;">important_code</code>
```

### **Template 3: Error Code**
```html
<code style="background-color: #f8d7da; color: black; padding: 3px 6px; border-radius: 4px; border: 2px solid #f5c6cb; font-weight: bold;">error_code</code>
```

### **Template 4: Success Code**
```html
<code style="background-color: #d1ecf1; color: black; padding: 3px 6px; border-radius: 4px; border: 2px solid #bee5eb; font-weight: bold;">working_code</code>
```

---

## **üéØ PERFECT READABILITY Guidelines**

### **The ONLY Rule You Need:**
- ‚úÖ **ALWAYS use BLACK text** with light colored backgrounds
- ‚úÖ **ALWAYS add a border** to separate code from text
- ‚úÖ **ALWAYS add padding** (at least 3px)
- ‚úÖ **ALWAYS use bold font-weight** for better visibility

### **Perfect Template to Copy:**
```html
<code style="background-color: #f8f9fa; color: black; padding: 3px 6px; border-radius: 3px; border: 1px solid #dee2e6; font-weight: bold;">YOUR_CODE</code>
```

### **Background Colors That Work Well with Black Text:**
- `#f8f9fa` - Light gray (recommended)
- `#ffffff` - Pure white  
- `#f1f3f4` - Soft gray
- `#e9ecef` - Medium gray
- `#fff3cd` - Light yellow (for highlights)

**NO MORE BLUE BACKGROUNDS OR COLORED TEXT - ONLY BLACK TEXT FOR MAXIMUM READABILITY!**

</div>